/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container1080 {
    width: 1080px;
    margin: 0 auto;
    position: relative;
}

.purple--bg {
    background-color: #3f3999;
}

.green--btn {
    background-color: #44b312;
}

.tahoma {
   font-family: tahoma;
}

.green--text {
    color: #44b312;
}

/* HEADER */

.header .container1080 {
 
}

.header-right-info {
   background-position: center right;
    background: url("../img/header-bg.jpg") no-repeat;
    position: relative;
    float: left;
   width: 807px;
   height: 233px;
}

.req__call__btn {
    width: 240px;
    height: 60px;
    text-align: center;
    float: right;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: tahoma;
    color: #fff;
    border-radius: 10px;
    line-height: 2.8;
    margin-top: 30px;
}

.top-menu {
    position: absolute;
    top: 25px;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0;

}

.top-menu__li {
    display: inline-block;

}

.top-menu__li.li--sep {
    color: #fff;
    font-family: Tahoma;
    font-size: 20px;
    text-decoration: none;
    padding: 0 20px;
    
}

.top-menu__link {
    color: #fff;
    font-family: Tahoma;
    font-size: 20px;
    text-decoration: none;
}

.top-menu__link:hover {
    text-decoration: underline;
}

.header-contacts {
    float: right;
    margin-top: 80px;

}

.logo {
    height: 233px;
    float: left;

}

.header__phone {
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}

/* END HEADER */



/* WHITE INFOBLOCK */

td.production-item {
    width: 360px;
    color: #666666;
    font-family: tahoma;
}

.production-item .item-img-container {
    float: left;
    width: 93px;
    margin-right: 20px;

}

.production-item .item-info {
    float: left;
    width: 246px;
}

.production-item .item-info .item__title {
    font-size: 22px;
}

.production-item .item-info .item__description {
    font-size: 19px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.production-items-container {
    display: block;
    padding-top: 10px;
    padding-bottom: 50px;

}

.white-infoblock .company__name {
    color: #777777;
    font-size: 39px;
    text-align: center;
    font-weight: normal;
}

.white-infoblock .company__text {
    color: #777777;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}

.white-infoblock {
    background: url('../img/white-infoblock-bg.jpg') no-repeat center center;
}

/* END WHITE INFOBLOCK*/



/* MF INFOBLOCK 1 */

.mf-infoblock {
    padding-bottom: 50px;
}

.mf-left-info {
    float: left;
    width: 565px;
    color: #fff;
    font-family: "Tahoma";
    margin-right: 35px;
}

.mf-right-info {
    width: 480px;
    float: left;
    color: #fff;
    font-family: "Tahoma";
}

.mf-options-list {
    margin-top: 156px;
}

.mf-options-item {
    color: #fff;
    clear: both;
    padding-bottom: 20px;
    overflow: hidden;
}

.mf-item-img-container {
    float: left;
    width: 93px;
    margin-right: 20px;
}

.mf-option-item__text {
    float: right;
    width: 366px;
}

.mf__title {
    font-size: 41px;
    font-weight: normal;
}

.mf-left-info p {
    font-size: 20px;
}

.mf--btn {
    float: left;
    margin-left: 113px;
    clear: both;
    margin-bottom: 100px;
}

.mf-annotation__text {
    float: left;   
}

.mf__img {
    margin-top: 140px;
}

.toggle__btn {
    position: absolute;
    bottom: -98px;
    right: -54px;
    z-index: 10;
    cursor: pointer;
    width: 97px;
    height: 97px;
}

.plus__btn {
    background: url('../img/plus-btn.png') no-repeat;
}

.minus__btn {
    background: url('../img/minus-btn.png') no-repeat;
}

/* END MF INFOBLOCK*/


/* MF INFOBLOCK INVERT */
.mf-infoblock--invert .mf-left-info {
    float: right;
    margin-right: 0;
    margin-left: 35px;
    
}

.mf-infoblock--invert .mf-right-info {

}

.mf-infoblock-2 {
    background: url('../img/mf-infoblock-2-bg.jpg') no-repeat;
    padding-top: 14px;
    background-position: 100% 100%;
}

.mf-infoblock-2 .mf__title {
    margin-top: 0;
}

.mf-infoblock-2 .mf__img {
    margin-top: 20px;
}

.mf-option-item__text a {
    color: #44b312;
}

.mf-infoblock-3 .mf__img {
    margin-top: 50px;

}

.form__title {
    font-size: 35px;
    color: #666666;
    margin-top: 50px;
}

.form__text {
    color: #666666;
    font-size: 16px;
    margin-bottom: 100px;
    margin-top: 30px;

}

.form-block-wrapper {
    background: url("../img/white-infoblock-bg.jpg") no-repeat;
    background-position: center center;
    text-align: center;
}

.form-fields {
    float: left;
    width: 479px;
    margin-right: 30px;
    position: relative;
}


.form-ta-container {
    float: right;
    width: 571px;

}

.form__field {
    height: 82px;
    width: 97%;
    background: #eeeeee;
    border: none;
    margin-bottom: 48px;
    padding-left: 16px;
    color: #383838;
    position: relative;
    z-index: 8;
}

.form-block-wrapper .field-wrapper {
    position: relative;
}

.field-wrapper .star {
    top: 5px;
    color: #44b312;
    font-size: 32px;
    z-index: 10;
    right: 18px;
    position: absolute;
}

.form__ta {
    width: 96%;
    background: #eeeeee;
    border: none;
    resize: none;
    height: 336px;
    padding-top: 10px;
    padding-left: 18px;

}

.form__btn__send {
    width: 240px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
    border: none;
    color: #fff;
    font-family: "Tahoma";
    text-align: center;
    font-size: 24px;
}

.form-btn-wrapper {
    clear: both;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: tahoma;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 3;
}

.footer a {
    color: #fff;
    background: url('../img/w.png') no-repeat;
    padding-left: 28px;
}

.footer .w-text {

}

.footer .w__logo {
    float: left;
    margin-right: 10px;
}

.plus-block-1, .plus-block-2, .plus-block-3 {
    background: #eeeeee;
    height: 100px;
    padding-bottom: 20px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}